<% if @profile.sport == 'Baseball' && @profile.title == 'Player' %>
<%= render :partial => 'baseball' %>
<% end %>

<p id="notice"><%= notice %></p>
<p> 
  <b>Birthdate:</b>
  <%= @profile.birthdate %>
</p>

<p>
  <b>Name:</b>
  <%= @profile.title %>
</p>

<p>
  <b>Sport:</b>
  <%= @profile.sport %>
</p>


<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
