<!DOCTYPE HTML>

<html class="no-js" lang="en">
	<head>
		<meta charset="utf-8"/>
		<title>ScoutBuzz </title>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" ></script>
			

<!--Facebooker Login button on signup page -->
<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '163542930420008', // App ID
      //channelUrl : '//http://localhost:3000/channel.html', // Channel File
      status     : true, // check login status
      cookie     : true, // enable cookies to allow the server to access the session
      xfbml      : true  // parse XFBML
    });

    // Additional initialization code here
  };

  // Load the SDK Asynchronously
  (function(d){
     var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement('script'); js.id = id; js.async = true;
     js.src = "//connect.facebook.net/en_US/all.js";
     ref.parentNode.insertBefore(js, ref);
   }(document));
</script>

	<script type="text/javascript">
		
		$(document).ready(function() {
	
			$('.lightbox').click(function() {
				$('.backdrop, .box' ).animate({'opacity':'.50'}, 300, 'linear');
			  $('.box' ).animate({'opacity':'1.00'}, 300, 'linear');
				$('.backdrop, .box').css('display', 'block');
			});	

			$('.close').click(function(){
					close_box();
				});
 
				$('.backdrop').click(function(){
					close_box();
				});


		});	

		function close_box()
			{
				$('.backdrop, .box').animate({'opacity':'0'}, 300, 'linear', function(){
					$('.backdrop, .box').css('display', 'none');
				});
			}


	</script>

<script type="text/javascript">
		
		$(document).ready(function() {
	
			$('.lightbox2').click(function() {
				$('.backdrop2, .box2' ).animate({'opacity':'.50'}, 300, 'linear');
			  $('.box2' ).animate({'opacity':'1.00'}, 300, 'linear');
				$('.backdrop2, .box2').css('display', 'block');
			});	

			$('.close').click(function(){
					close_box2();
				});
 
				$('.backdrop2').click(function(){
					close_box2();
				});


		});	

function close_box2()
			{
				$('.backdrop2, .box2').animate({'opacity':'0'}, 300, 'linear', function(){
					$('.backdrop2, .box2').css('display', 'none');
				});
			}


	</script>


</head>

	<body>
		<!-- BEGIN Main Header -->
		 <div class="navbar">
   		<div class="navbar-inner">
   		 <div class="container">
					<a class="brand" href="#"><%= image_tag 'logo.png'%></a>
					<ul style="margin-left: 165px; margin-top: 10px;" class="nav pull-right">
						<li>
							<h2 style="font-family: Trebuchet MS,Trebuchet,Verdana,Sans-Serif;padding-top: 10px; margin-left: -780px; color: #ffffff;" >Get Scouted! Spread the buzz.</h2>
						</li>
						<li style="padding-top: 12px; color: #ffffff;">
							Already a member?
						</li>
						<li>
							<a href="#" class="lightbox2" style="color: #ffffff;"><strong><u>Log in</u></strong></a>
						</li>

					</ul>
  		 </div>
    	</div>
    </div>
		<!-- END Main Header -->
				<div id="preview2">
				
				  	<!-- Begin Facebook Login -->
<a href="/auth/facebook" class="auth_provider">
 			<%= image_tag "facebook_128.png", :alt => "Facebook" %> 
</a>
<!-- End Facebook Login -->

<!-- Begin Twitter Login -->
<a href="/auth/twitter" class="auth_provider">
	<%= image_tag "twitter_128.png", :alt => "Twitter"  %>
</a>
<!-- End Twitter Login -->

<!-- Begin Linkedin Login -->
<a href="/auth/linkedin" class="auth_provider">
	<%= image_tag "linkedin_128.png", :alt => "Linkedin"  %>
</a>
<!-- End Twitter Login -->

 or
	<a href="#" class="lightbox">Sign up</a> with your email address.

		<div class="backdrop"></div>
		<div class="box"><div class="close">x</div>
				<!--Begin Create Registration -->
<%= form_tag "/auth/identity/register" do %>
  <% if @identity && @identity.errors.any? %>
    <div class="error_messages">
      <h2><%= pluralize(@identity.errors.count, "error") %> prohibited this account from being saved:</h2>
      <ul>
      <% @identity.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

		<ul style="margin-left: 145px; margin-top: 10px;">
			<li>
    		<h5>Full Name</h5>
    		<%= text_field_tag :name, @identity.try(:name) %>
 			</li>
			<li>
 				<h5>Email</h5>
		    <%= text_field_tag :email, @identity.try(:email) %>
			</li>
			<li>
				<h5>Password</h5>
			  <%= password_field_tag :password %>
			</li>
			<li>
				<h5>Confirm Password</h5>
				<%= password_field_tag :password_confirmation %>
			</li><br /><br />
  		<li style="margin-left: 60px;">
				<%= submit_tag "Sign Up", :class =>  'btn btn_profile'%>
			</li>
<% end %>
<!-- End Create Registration -->
			</ul>

		</div>


<div class="box2"><div class="close">x</div>
<%= form_tag "/auth/identity/callback" do %>
 	<ul style="margin-left: 90px; margin-top: 10px;">
    <h5>Email</h5>
    <li><%= text_field_tag :auth_key %></li>
		<h5>Password</h5>
    <li><%= password_field_tag :password %></li><br/>
		<li style="margin-left: 60px;"><%= submit_tag "Login", :class =>  'btn btn_profile' %></li>
	</ul>
<% end %>
	</div>
				</div>
<script type="text/javascript">
setTimeout(function(){var a=document.createElement("script");
var b=document.getElementsByTagName('script')[0];
a.src=document.location.protocol+"//dnn506yrbagrg.cloudfront.net/pages/scripts/0012/7850.js?"+Math.floor(new Date().getTime()/3600000);
a.async=true;a.type="text/javascript";b.parentNode.insertBefore(a,b)}, 1);
</script>


		</body>
</html>
