
<!DOCTYPE html>
<h1>Welcome to sign up!</h1>
<head>
	<title>Sign Up</title>

</head>

<body>
		<% if current_user %>
  Welcome <%= current_user.name %>!
  <%= link_to "Sign Out", signout_path %>
<% else %>
<% end %>

<!--Facebooker Login button on signup page -->
<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '163542930420008', // App ID
      //channelUrl : '//http://localhost:3000/channel.html', // Channel File
      status     : true, // check login status
      cookie     : true, // enable cookies to allow the server to access the session
      xfbml      : true  // parse XFBML
    });

    // Additional initialization code here
  };

  // Load the SDK Asynchronously
  (function(d){
     var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement('script'); js.id = id; js.async = true;
     js.src = "//connect.facebook.net/en_US/all.js";
     ref.parentNode.insertBefore(js, ref);
   }(document));
</script>


<!-- Begin Facebook Login -->
<a href="/auth/facebook" class="auth_provider">
	<div class="fb-login-button">Connect with Facebook</div>
</a>
<!-- End Facebook Login -->

<p>
  or
  <%= link_to "sign up", new_identity_path %> 
	with your email address.
</p>

<p>
<%= form_tag "/auth/identity/callback" do %>
  <div class="field">
    <%= label_tag :auth_key, "Email" %><br>
    <%= text_field_tag :auth_key %>
  </div>
  <div class="field">
    <%= label_tag :password %><br>
    <%= password_field_tag :password %>
  </div>
  <div class="actions"><%= submit_tag "Login" %></div>
<% end %>
</p>

</body>


