<%= form_for (@user) do |f| %>
  <% if (@user).errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<div class="criteria">
	<ul>
		<li>
				<h4>Who are you? <h4>
		</li>
		<li>
				<%= f.select(:role, ["Player", "Team", "Agent"]) %>
		</li>		
		<li>
			<h4>What is your sport?</h4>
		</li>
		<li>
	    <%= f.select(:sport, ["Basketball", "Baseball", "Football"]) %>
		</li>

	</ul>
</div>

    <div class="button_criteria"><%= f.submit :class => "btn btn_profile" %></div>
<% end %>
