<%= form_for (@user) do |f| %>
  <% if (@user).errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<div class="criteria">
	<ul>
		<li>
				<h3 style="float: left;">Who are you?<h3><b style="font-size: 10px;"><i>(Athlete, Team, Agent)</i></b><br />
				<%= f.select(:role, ["Athlete", "Sports Team", "Sports Agent"] , :prompt => true) %>
		</li>
		<li >
			<h4 >What is your sport?</h4>
	  	<%= f.select(:sport, ["Baseball", "Basketball"] , :prompt => true ) %>
		</li>

	</ul>
</div>

<%= f.submit "Click to your Profile!", :class => "btn btn_profile" %>
<% end %>
