<h1 class="edit_personal">Edit / Personal Info</h1>
<%= form_for (@user) do |f| %>
<div class="personal2">
	<ul>
		<li>
			<h4>First & Last Name <h4>
			<%= f.text_field :name %>
		</li>
		<li>
			<h4>Birthdate<h4>
			<li>
				<%= f.date_select :birthdate, :start_year => 1960, :prompt => { :month => 'Select month', :day => 'Select day', :year => 'Select year' } %>
		</li>
		<li>	
			<h4>Gender<h4>
  		<%= f.select(:gender, ["Female", "Male"] , :prompt => {:gender => "Select gender"} ) %>
		</li>
		<li>
			<h4>Country</h4>
			<%= f.country_select :country %>
		</li>
		<li>
			<h4>Bio</h4>
		  <div class="textbio"><%= f.text_area :bio %></div>
		</li><br />
		<li>
			<%= f.submit 'Update', :class => "btn btn_profile" %>
		</li>

	</ul>
</div>


<% end %>	 
