<h1 class="edit_personal">Edit / Statistics</h1>
<%= form_for (@user) do |f| %>

<div class="personal2">
	<ul>
		<li style="float: left; padding-right: 10px;">
			<h4>Current Team <h4>
		  <%= f.text_field :current_team %>
		</li>
		<li>
			<h4>Level <h4>
		  <%= f.select(:current_level, ["Pro", "Semi Pro", "Collegiate", "High School"]) %>
		</li>
		<li style="float: left; padding-right: 10px;">
			<h4>Former Team <h4>
		  <%= f.text_field :former_team %>
		</li>
		<li>
			<h4>Level <h4>
		  <%= f.select(:former_level, ["Pro", "Semi Pro", "Collegiate", "High School"]) %>
		</li>
		<li>
			<h4>Position <h4>
		  <%= f.select(:position, ["Point Guard", "Shooting Guard", "Swing Forward", "Power Forward", "Center"]) %>
		</li>
		<li style="float:left; padding-right: 10px;">	
    	<h4>Height</h4>
			<!--<%= f.select(:height, ["6'0", "6'1", "6'2"]) %>-->


		<%= f.select :height, options_for_select(@heights), :prompt => true %>


  	</li>
		<li>	  
			 <h4>Weight</h4>
			 <%= f.text_field :weight, :class => 'level' %>
		</li>
		
		<li>
			<%= f.submit "Update", :class => 'btn btn_profile' %>
		</li>
	</ul>	
</div>

<% end %>
