<!DOCTYPE HTML>

<html class="no-js" lang="en">
	<head>
		<meta charset="utf-8"/>
		<title>CompanyName - Worldwide Scout </title>
		<%= stylesheet_link_tag "layout_main.css" %>
	</head>

	<body>
		<!-- BEGIN Main Header -->
		<div id="header-bar">

		</div>
		<!-- END Main Header -->

		<div id="preview2" >
		
			 <h1>	  
        <%= @user.name %>
      </h1>


<!-- Profile Picture -->
	<% if @user.provider == 'facebook' %> 
			<%= image_tag "http://graph.facebook.com/#{@user.uid}/picture", :class => 'resize' %>		
	<% end %>

	<% if @user.provider == 'twitter' %>
			<%= image_tag	"http://api.twitter.com/1/users/profile_image/#{@user.uid}.format" %>
	<% end %>				

	<% if @user.provider != 'facebook' && @user.provider != 'twitter' %>
			<%= image_tag @user.gravatar_url %>
  <% end %>





		<div class="nippleBox">
			<div class="bar">
					<h4>Microposts (<%= @user.microposts.count %>)</h4>
			</div>
				<% if	@user.microposts.any? %>
		
        	<div class="content"><%= render 'microposts/micropost' %></div>

				<% end %>
 	<%= paginate @microposts %>
		</div>

<div class="view_edit">
	<% if @user.sport == 'Basketball' && @user.role == 'Player' %>
		<%= link_to "Edit My Profile", basketball_personal_path %> |
		<%= link_to "View My Profile", profile_path %>
	<% end %>
	
<% if @user.sport == 'Baseball' && @user.role == 'Player' %>
		<%= link_to "Edit My Profile", baseball_personal_path %>
<% end %>

</div>
	

		</div>
	</body>

</html>
