<!doctype html>
	<html lang="en">
		<head>
			<meta charset="utf-8"/>
			<title>Micropost</title>
		  <%= stylesheet_link_tag "main_layout" %>

		</head>
<body>
		<!-- Begin Intro -->
			<div id="company_intro">
				<div id="content">
					<h5>Your Profile!</h5>
				</div>
			</div>
		  <!-- End Intro -->


			<div id="section_profile" class="section_profile">
						<div id="main_body">
							<div id="header">
								<h1 class="message"></h1>
							</div>
			</div>
									
								    <td class="main">
      <h1>	  
        <%= @user.name %>
      </h1>

<!-- Profile Picture -->
	<% if @user.provider == 'facebook' %> 
			<%= image_tag "http://graph.facebook.com/#{@user.uid}/picture" %>		
	<% end %>

	<% if @user.provider == 'twitter' %>
			<%= image_tag	"http://api.twitter.com/1/users/profile_image/#{@user.uid}.format" %>
	<% end %>				

	<% if @user.provider != 'facebook' && @user.provider != 'twitter' %>
			<%= image_tag @user.gravatar_url %>
  <% end %>


    </td>
   
  </tr>

</table>
			
<div>
	<% if @user.sport == 'Basketball' && @user.role == 'Player' %>
		<%= link_to "Edit My Profile", basketball_personal_path %> |
		<%= link_to "View My Profile", profile_path %>
	<% end %>
	
<% if @user.sport == 'Baseball' && @user.role == 'Player' %>
		<%= link_to "Edit My Profile", baseball_personal_path %>
<% end %>

</div>
		<% if	@user.microposts.any? %>
			  <h3>Microposts (<%= @user.microposts.count %>)</h3>
				<ol class="microposts">
        <%= render @microposts %>
      </ol>

		<% end %>
	
</body>

	</html>


