<!DOCTYPE HTML>

<html class="no-js" lang="en">
	<head>
		<meta charset="utf-8"/>
		<title>CompanyName - Worldwide Scout </title>
</head>

	<body>
		<!-- BEGIN Main Header -->
		<div id="header-bar">

		</div>
		<!-- END Main Header -->

		<div id="preview4" >
			
			<!--Begin Create Registration -->
<%= form_tag "/auth/identity/register" do %>
  <% if @identity && @identity.errors.any? %>
    <div class="error_messages">
      <h2><%= pluralize(@identity.errors.count, "error") %> prohibited this account from being saved:</h2>
      <ul>
      <% @identity.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

		<ul style="margin-left: 210px; margin-top: 50px; padding-top: 40px;">
			<li>
    		<h4>Full Name</h4>
    		<%= text_field_tag :name, @identity.try(:name) %>
 			</li>
			<li>
 				<h4>Email</h4>
		    <%= text_field_tag :email, @identity.try(:email) %>
			</li>
			<li>
				<h4>Password</h4>
			  <%= password_field_tag :password %>
			</li>
			<li>
				<h4>Confirm Password</h4>
				<%= password_field_tag :password_confirmation %>
			</li><br />
  		<li style="margin-left: 60px;">
				<%= submit_tag "Sign Up", :class =>  'btn btn_profile'%>
			</li>
<% end %>
<!-- End Create Registration -->
			</ul>
		</div>
			
	</body>

</html>

