<h1>Listing players</h1>
List of users:<br />
<% @users.each do |user| %>
<%= user.name %>
<% end %>

<table>
  <tr>
    <th>Name</th>
    <th>Birthdate</th>
    <th>Country</th>
    <th>Sport</th>
    <th>Height</th>
    <th>Weight</th>
    <th>Vid url</th>
    <th>Profile image</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @players.each do |player| %>
  <tr>
    <td><%= player.name %></td>
    <td><%= player.birthdate %></td>
    <td><%= player.country %></td>
    <td><%= player.sport %></td>
    <td><%= player.height %></td>
    <td><%= player.weight %></td>
    <td><%= player.vid_url %></td>
    <td><%= player.profile_image %></td>
    <td><%= link_to 'Show', player %></td>
    <td><%= link_to 'Edit', edit_player_path(player) %></td>
    <td><%= link_to 'Destroy', player, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Player', new_player_path %>
