<!DOCTYPE HTML>

<html class="no-js" lang="en">
	<head>
		<meta charset="utf-8"/>
		<title>CompanyName - Worldwide Scout </title>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/
libs/jquery/1.3.0/jquery.min.js"></script>
		<script type="text/javascript" src="/javascripts/mootools.js"></script>
<script type="text/javascript" src="/javascripts/mootools_more.js"></script>
<script type="text/javascript" src="/javascripts/diabox.js"></script>

<script type="text/javascript">
    window.addEvent('domready', function(){ window.diabox = new Diabox({gallery : {enabled : true}}); });
</script>

<script type="text/javascript">
$(function()
{
$(".view_comments").click(function()
{
var ID = $(this).attr("id");

$.ajax({
type: "POST",
url: "viewajax.php",
data: "msg_id="+ ID,
cache: false,
success: function(html){
$("#view_comments"+ID).prepend(html);
$("#view"+ID).remove();
$("#two_comments"+ID).remove();
}
});
return false;
});
});
</script>

<script type="text/javascript">
		
		$(document).ready(function() {
	
			$('.lightbox3').click(function() {
				$('.backdrop3, .box3' ).animate({'opacity':'.50'}, 300, 'linear');
			  $('.box3' ).animate({'opacity':'1.00'}, 300, 'linear');
				$('.backdrop3, .box3').css('display', 'block');
			});	

			$('.close').click(function(){
					close_box3();
				});
 
				$('.backdrop3').click(function(){
					close_box3();
				});


		});	

function close_box3()
			{
				$('.backdrop3, .box3').animate({'opacity':'0'}, 300, 'linear', function(){
					$('.backdrop3, .box3').css('display', 'none');
				});
			}


	</script>
	</head>

	<body style="background-color: #ffffff;">
		<!-- BEGIN Main Header -->
		 <div class="navbar">
   		<div class="navbar-inner">
   		 <div class="container">
					<a class="brand" href="#"><%= image_tag 'logo.png'%></a>
					<ul style="margin-left: 165px; margin-top: 10px;" class="nav pull-right">
						<li>
							
						</li>

					</ul>
  		 </div>
    	</div>
    </div>
		<!-- END Main Header -->



<%= link_to 'Create Your Profile', 'user_criteria', :class => 'action_link' %>

<!--<%= button_to "Create Your Profile", {:controller => 'users', :action => 'user_criteria'}, {:class => 'btn btn_action_call'} %>-->
	
		<!-- Begin Render Micropost Form -->
			<!--<div id="form"><%= render 'form' %></div>-->
		<!-- End Render Micropost Form -->

	<%= render 'form' %>

		<div id="micro">
		<h3>Sports Feed</h3>
		<% @microposts.each do |micropost| %>
		
				<hr style="width:55em;border:.1em solid #f5f5f5;" />

				<ul>
					<li style="float: left; padding-right: 10px; text-align: top;">
						<span><%= image_tag avatar_url(micropost.user), :size=>'75x75'%></span>
					</li>
					<li style="padding-bottom: 50px;">
							<h5 class="name"><%= micropost.user.name %></h5>
							<p class="content"><%= micropost.content %></p>
							<p><h6 class="timestamp">Posted <%= time_ago_in_words(micropost.created_at) %> ago.</h6></p>
					</li>
				</ul>		
         		
	<% end %>
		<hr style="width:55em;border:.1em solid #f5f5f5;" />
		</div>
<script type="text/javascript">
setTimeout(function(){var a=document.createElement("script");
var b=document.getElementsByTagName('script')[0];
a.src=document.location.protocol+"//dnn506yrbagrg.cloudfront.net/pages/scripts/0012/7850.js?"+Math.floor(new Date().getTime()/3600000);
a.async=true;a.type="text/javascript";b.parentNode.insertBefore(a,b)}, 1);
</script>


	</body>



</html>
