<!DOCTYPE HTML>

<html class="no-js" lang="en">
	<head>
		<meta charset="utf-8"/>
		<title>CompanyName - Worldwide Scout </title>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/
libs/jquery/1.3.0/jquery.min.js"></script>
		<script type="text/javascript" src="/javascripts/mootools.js"></script>
<script type="text/javascript" src="/javascripts/mootools_more.js"></script>
<script type="text/javascript" src="/javascripts/diabox.js"></script>

<script type="text/javascript">
    window.addEvent('domready', function(){ window.diabox = new Diabox({gallery : {enabled : true}}); });
</script>

<script type="text/javascript">
$(function()
{
$(".view_comments").click(function()
{
var ID = $(this).attr("id");

$.ajax({
type: "POST",
url: "viewajax.php",
data: "msg_id="+ ID,
cache: false,
success: function(html){
$("#view_comments"+ID).prepend(html);
$("#view"+ID).remove();
$("#two_comments"+ID).remove();
}
});
return false;
});
});
</script>
	</head>

	<body>
		<!-- BEGIN Main Header -->
		<div id="header-bar">

		</div>
		<!-- END Main Header -->
		
<div id="create_profile"><%= link_to "Create Your Profile", user_criteria_path %></div>
<!--<%= button_to "Create Your Profile", {:controller => 'users', :action => 'user_criteria'}, {:class => 'profile'} %>-->
	
		<!-- Begin Render Micropost Form -->
			<div id="form"><%= render 'form' %></div>
		<!-- End Render Micropost Form -->

		<div id="preview" >
				<div id="wrap_me" >
	
<% @microposts.each do |micropost| %>

											   <% if micropost.user.provider == 'facebook' %>
													<span class="profile_pic"><%= image_tag "http://graph.facebook.com/#{micropost.user.uid}/picture", :size => "60x60" %></span>
													<% end %>

												<% if micropost.user.provider == 'twitter' %>
													
													<div class="profile_pic"><%= image_tag	"http://api.twitter.com/1/users/profile_image/#{micropost.user.uid}.format",  :size => "60x60" %></div>
													<% end %>	

													<% if micropost.user.provider != 'twitter' && micropost.user.provider != 'facebook' %>
														<span class="profile_pic"><%= image_tag micropost.user.gravatar_url, :size => "60x60" %></span>
													<% end %>
	
					<div id="headings"><h5 class="name"><%= micropost.user.name %></h5>
								
					<p class="content"><%= micropost.content %>
<h6 class="timestamp">Posted <%= time_ago_in_words(micropost.created_at) %> ago.</h6></p>

          
</div>

				
			 <!--<a href="#" class="view_comments" >View all &nbsp;<%= micropost.comments.count %> comments </a><br />-->

						<%= render :partial => "comments/display", :locals => { :micropost => micropost } %>

			
						<%= render :partial => "comments/form", :locals => { :micropost => micropost } %> 
<hr style="width:45em;border:.1em solid #f5f5f5; margin-left: 10px;" />
			
			
	<% end %>
		</div>
		</div>


	</body>



</html>
