
<!doctype html>
	<html lang="en">
		<head>
			<meta charset="utf-8"/>
			<title>Micropost</title>
		<%= stylesheet_link_tag "main" %>
		</head>
		<body>
			<img id="main_background" class="main_background" style="display: none;" > 
			<!-- Begin Intro -->
			<div id="company_intro">
				<div class="content">
					<h5>Be the first to sign up!</h5>
				</div>
			</div>
		  <!-- End Intro -->

			<!-- Begin Top -->
			<div id="top">
					<%= image_tag "logo.png", :id => "beebo_logo" %>
			</div>
			<!-- End Top -->
			
			<!-- Begin Everything(need end) -->
			<div id="all">

			<!-- Begin Main(need end) -->
				<div id="section_main" class="section_main">
						<div id="main_body">
							<div id="header">
								<h1 class="message">Start Posting!</h1>
							</div>
							<div class="columns">
										<%= render 'form' %>

								<div class="microposts">
										<% @microposts.each do |micropost| %>
											<b><%= micropost.user.name %></b>
							<li>
								<span class="content">
											<%= micropost.content %><br />
								</span>
								<div class="timestamp">
										Posted <%= time_ago_in_words(micropost.created_at) %> ago.
							  </div>
							</li>
											<!--<%= render 'comment_fields' %></br>-->
										<% end %>
								</div>
								<div id="column_one" class="column">
									
								</div>
										
							</div>									
			</div>
		</body>
	</html>
