
<!DOCTYPE html>
<html>
  <head>
<title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>
		<%= render 'layouts/stylesheets' %>
		<%= stylesheet_link_tag "main_layout" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tag %>
  </head>
  <body>
        <%= yield %>
      </section>
		  <!--<%= render 'layouts/footer' %>-->
			<%= debug(params) if Rails.env.development? %>
  </body>
</html>

